<nav *ngIf="showPages.length > 1">
  <ul class="unselectable pagination justify-content-center">
    <li class="page-item" [class.disabled]="page <= 1"><a class="page-link" (click)="updateURLParameter(previousPage)">&laquo;</a></li>
    <li *ngFor="let pageNumber of showPages" class="page-item" [class.active]="page == pageNumber">
      <a class="page-link" (click)="updateURLParameter(pageNumber)">{{pageNumber}}</a>
    </li>
    <li class="page-item" [class.disabled]="page >= lastPage"><a class="page-link" (click)="updateURLParameter(nextPage)">&raquo;</a></li>
  </ul>
</nav>
